{% extends "blog/layout.html" %}


{% block title %}
    {{post.title}}
{% endblock%}


{% block content%}

<div class="container">
    <div class="jumbotron">
        <h1>Django Template <sup>by AskDjango</sup></h1>
        <p>여러분의 파이썬/장고 페이스메이커가 되겠습니다.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="http://facebook.com/groups/askdjango">AskDjango 페이스북 그룹 &raquo;
            </a>
        </p>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info">
                <ul>
                    <li>http://127.0.0.1:8000/blog/ 주소로 접속해보세요</li>
                    <li>텝플릿 경로를 잘 설정</li>
                    <li>수정사항보기위해 추가</li>
                </ul>
            </div>


            <a href="{% url 'blog:post_new' %}" class="btn btn-primary pull-right">New Post</a>



            <p>
                <form action="" method="get">
                    <input type="text" name="q" value="{{q}}"/>
                    <input type="submit" value="검색" class="btn btn-primary"/>
                </form>
            </p>

            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>title</th>
                        <th>author</th>
                        <th>updated_at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in post_list %}
                        <tr>
                            <td>{{post.id}}</td>
                            <!--url reverse-->
                            <td><a href='{% url "blog:post_detail" post.id%}'>
                           {{post.title}}
                            </a></td>

<!--            <a href="/blog/{{ post.id }}/">-->
<!--                {{post.title}}-->
<!--            </a>-->
                            <td><small>by {{post.author}}</small></td>
                            <td><small>at {{post.updated_at}}</small></td>
                        </tr>
                    {% endfor %}}
                </tbody>
            </table>


        </div>
    </div>
</div>
{% endblock %}